/* 抓到瀏覽器高度*/

* {
  box-sizing: border-box;
}


body {
  height: 100%;
  border: 1px solid black;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
}



/* 最上方搜尋欄 */
#header {
  text-align: center;
  width: 100%;
  height: 60px;
  top: 0;
  background: rgba(255, 255, 255, .98);
  position: fixed;
  border-bottom: 1px solid lightgray;
  padding: 0 1.5rem;
  z-index: 1000;
}

.head-left {
  float: left;
}

.head-left i {
  font-size: 1.5rem;
  text-align: center;
  line-height: 60px;
  color: #606060;
  cursor: pointer;
}

/* youtube logo */
.logo {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translate(0, -50%);

}


/* 中間 */

.head-center {
  width: 800px;
  display: inline-block;
  text-align: center;
  /* position: absolute; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  font-size: 0;
  /* background: #065fd493; */
  padding: 10px 0;
}

input {
  width: 500px;
  height: 40px;
  border: 1px solid lightgray;
  outline: none;
  padding-left: 10px;
  vertical-align: 4px;
}

input::placeholder {
  font-size: 14px;
}

.search-left {
  color: grey;
  width: 30px;
  height: 40px;
  position: absolute;
  left: -30px;
  top: 0px;
  display: none;
  line-height: 40px;
  padding: 10px;
}

input:focus {
  border: 1px solid #065fd493;
  border-left: none;
}

input:focus+.search-left {
  display: block;
  border: 1px solid #065fd493;
  border-right: none;
}

#header .search {
  display: inline-block;
  position: relative;
}

#header .search button {
  width: 65px;
  height: 40px;
  background: #f9f9f9;
  border: 1px solid lightgray;
  border-left: none;
  cursor: pointer;
}

#header .search i {
  font-size: 1.2rem;
  vertical-align: 3px;
}

#header .microphone {
  width: 40px;
  height: 40px;
  background: #f9f9f9;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: 2px;
  border: none;
  cursor: pointer;
}

#header .microphone i {
  font-size: 1.2rem;
  line-height: 20px;
  vertical-align: -1px;
}

/* 右側 */

.head-right {
  width: 150px;
  height: 60px;
  float: right;
  padding: 10px 0;
}

#header .head-right button {
  display: inline-block;
  width: 30px;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

#header .login i {
  font-size: 1.3rem;
  vertical-align: middle;
  margin-right: 5px;
}

/* 登入按鈕 */
.login {
  width: 90px;
  height: 35px;
  display: inline-block;
  border: 1px solid #065fd4;
  color: #065fd4;
  line-height: 30px;
  vertical-align: 3px;
  cursor: pointer;
  margin-left: 10px;
}

/* 分類標籤 */
.navbar {
  width: calc(100vw - 260px);
  height: 60px;
  position: fixed;
  top: 60px;
  left: 260px;
  background: rgba(255, 255, 255, .98);
  border-bottom: 1px solid lightgray;
  z-index: 1000;
}

.navbar ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar li {
  display: inline-block;
  list-style: none;
  border-radius: 40px;
  border: 1px solid lightgray;
  background: #f9f9f9;
  text-align: center;
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 14px;
}

.navbar li:first-child {
  background: black;
  color: white;
}

.navbar ul li:hover {
  cursor: pointer;
  background: rgb(235, 233, 233);
}


.navbar ul>li:active {
  color: white;
  background: black;
}

/* 左側欄 */
.sidebar {
  width: 260px;
  height: calc(100vh - 60px);
  position: fixed;
  overflow-y: auto;
  top: 60px;
  font-weight: 200;
  color: #030303;
  padding: .5rem 1.5rem;
  line-height: 1.5;
}

.sidebar li:hover {
  background: #f9f9f9;
  cursor: pointer;
}


/* icon */
.sidebar i {
  margin-top: .5rem;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.sidebar h4 {
  margin-bottom: 10px;
}

hr {
  margin: 15px 0;
  border: none;
  height: 1px;
  background: lightgray;
}

.s6 {
  font-size: 12px;
}

.s6:nth-child(5) {
  font-size: 10px;
  color: gray;
}

/* 內容 */
.content {
  width: calc(100vw - 260px);
  margin-top: 120px;
  float: right;
  background: #f9f9f9;
  font-size: 0;
  padding: 10px 50px;
  cursor: pointer;
}

.col {
  position: relative;
  width: 25%;
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  margin-top: 10px;
  transform: scale(.98);
  transition: .3s;
}

.col:hover {
  transform: scale(1.2);
  border: 1px solid lightgrey;
  background: white;
  box-shadow: 0 0 5px gray;
  z-index: 500;
  transition-delay: 1.5s;
}

.card-head {
  position: relative;
}

.card-head img {
  width: 100%;
}

.card-body {
  margin-top: 1rem;
}

.card-body img {
  width: 40px;
  height: 40px;
  /* display: block; */
  border-radius: 50%;
  float: left;
}

.text-area {
  width: 280px;
  float: left;
  margin-left: 1rem;
  line-height: 1.5;
}

.text-area h4 {
  font-size: 16px;
  color: #030303;
  margin-bottom: 5px;
}

.text-area p {
  font-size: 14px;
  color: #606060;
}

.play-button {
  display: none;
  text-align: center;
  clear: both;
  color: white;
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0 0 5px gray;
  position: relative;
  top: 15px;
}

.play-button button {
  font-size: 16px;
  width: 150px;
  height: 40px;
  text-align: center;
  background: #e2e1e1;
  border: none;
  margin: 10px 5px;
  cursor: pointer;
}

.play-button:hover {
  display: block;
  box-shadow: none;
}

.play-button:hover .play-button {
  background: white;
  box-shadow: 0 0 5px gray;
}

/* 影片長度(圖片右下角) */
.time {
  background: rgba(0, 0, 0, .8);
  color: white;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}